<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>AdminBean</servlet-name>
        <servlet-class>beans.AdminBean</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Basic</servlet-name>
        <servlet-class>beans.Basic</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateReportBean</servlet-name>
        <servlet-class>beans.CreateReportBean</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateReportBean</servlet-name>
        <servlet-class>beans.GenerateReportBean</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientBean</servlet-name>
        <servlet-class>beans.PatientBean</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationBean</servlet-name>
        <servlet-class>beans.RegistrationBean</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestDisplay</servlet-name>
        <servlet-class>beans.TestDisplay</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestDisplayBean</servlet-name>
        <servlet-class>beans.TestDisplayBean</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestMenuBean</servlet-name>
        <servlet-class>beans.TestMenuBean</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestMenuCompleteBloodTestProfile</servlet-name>
        <servlet-class>beans.TestMenuCompleteBloodTestProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestMenuSugarProfile</servlet-name>
        <servlet-class>beans.TestMenuSugarProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestMenuWbcProfile</servlet-name>
        <servlet-class>beans.TestMenuWbcProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminController</servlet-name>
        <servlet-class>controllers.AdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateReportController</servlet-name>
        <servlet-class>controllers.CreateReportController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateReportController</servlet-name>
        <servlet-class>controllers.GenerateReportController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientRegistrationController</servlet-name>
        <servlet-class>controllers.PatientRegistrationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationController</servlet-name>
        <servlet-class>controllers.RegistrationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportDeliveryController</servlet-name>
        <servlet-class>controllers.ReportDeliveryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestDisplayController</servlet-name>
        <servlet-class>controllers.TestDisplayController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestMenuController</servlet-name>
        <servlet-class>controllers.TestMenuController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDAO</servlet-name>
        <servlet-class>daoimplementation.AdminDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateReportDAO</servlet-name>
        <servlet-class>daoimplementation.CreateReportDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerateReportDAO</servlet-name>
        <servlet-class>daoimplementation.GenerateReportDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginDAO</servlet-name>
        <servlet-class>daoimplementation.LoginDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientRegistrationDAO</servlet-name>
        <servlet-class>daoimplementation.PatientRegistrationDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationImpl</servlet-name>
        <servlet-class>daoimplementation.RegistrationImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportDeliveryDAO</servlet-name>
        <servlet-class>daoimplementation.ReportDeliveryDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestDisplayDAO</servlet-name>
        <servlet-class>daoimplementation.TestDisplayDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestMenuCompleteTestProfileDAO</servlet-name>
        <servlet-class>daoimplementation.TestMenuCompleteTestProfileDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestMenuCompleteUrineTestProfileDAO</servlet-name>
        <servlet-class>daoimplementation.TestMenuCompleteUrineTestProfileDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestMenuSugarProfileDAO</servlet-name>
        <servlet-class>daoimplementation.TestMenuSugarProfileDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestMenuWbcProfileDAO</servlet-name>
        <servlet-class>daoimplementation.TestMenuWbcProfileDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationInterface</servlet-name>
        <servlet-class>interfaces.RegistrationInterface</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminService</servlet-name>
        <servlet-class>service.AdminService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginService</servlet-name>
        <servlet-class>service.LoginService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDBConnection</servlet-name>
        <servlet-class>utility.GetDBConnection</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminBean</servlet-name>
        <url-pattern>/AdminBean</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Basic</servlet-name>
        <url-pattern>/Basic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateReportBean</servlet-name>
        <url-pattern>/CreateReportBean</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateReportBean</servlet-name>
        <url-pattern>/GenerateReportBean</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientBean</servlet-name>
        <url-pattern>/PatientBean</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationBean</servlet-name>
        <url-pattern>/RegistrationBean</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestDisplay</servlet-name>
        <url-pattern>/TestDisplay</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestDisplayBean</servlet-name>
        <url-pattern>/TestDisplayBean</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestMenuBean</servlet-name>
        <url-pattern>/TestMenuBean</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestMenuCompleteBloodTestProfile</servlet-name>
        <url-pattern>/TestMenuCompleteBloodTestProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestMenuSugarProfile</servlet-name>
        <url-pattern>/TestMenuSugarProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestMenuWbcProfile</servlet-name>
        <url-pattern>/TestMenuWbcProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminController</servlet-name>
        <url-pattern>/AdminController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateReportController</servlet-name>
        <url-pattern>/CreateReportController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateReportController</servlet-name>
        <url-pattern>/GenerateReportController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientRegistrationController</servlet-name>
        <url-pattern>/PatientRegistrationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationController</servlet-name>
        <url-pattern>/RegistrationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportDeliveryController</servlet-name>
        <url-pattern>/ReportDeliveryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestDisplayController</servlet-name>
        <url-pattern>/TestDisplayController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestMenuController</servlet-name>
        <url-pattern>/TestMenuController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDAO</servlet-name>
        <url-pattern>/AdminDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateReportDAO</servlet-name>
        <url-pattern>/CreateReportDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerateReportDAO</servlet-name>
        <url-pattern>/GenerateReportDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginDAO</servlet-name>
        <url-pattern>/LoginDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientRegistrationDAO</servlet-name>
        <url-pattern>/PatientRegistrationDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationImpl</servlet-name>
        <url-pattern>/RegistrationImpl</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportDeliveryDAO</servlet-name>
        <url-pattern>/ReportDeliveryDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestDisplayDAO</servlet-name>
        <url-pattern>/TestDisplayDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestMenuCompleteTestProfileDAO</servlet-name>
        <url-pattern>/TestMenuCompleteTestProfileDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestMenuCompleteUrineTestProfileDAO</servlet-name>
        <url-pattern>/TestMenuCompleteUrineTestProfileDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestMenuSugarProfileDAO</servlet-name>
        <url-pattern>/TestMenuSugarProfileDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestMenuWbcProfileDAO</servlet-name>
        <url-pattern>/TestMenuWbcProfileDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationInterface</servlet-name>
        <url-pattern>/RegistrationInterface</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminService</servlet-name>
        <url-pattern>/AdminService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginService</servlet-name>
        <url-pattern>/LoginService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDBConnection</servlet-name>
        <url-pattern>/GetDBConnection</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
